@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone"></i>
        <p>
            Destek Hattı
        </p>
        <i class="fa-solid fa-location-dot"></i>
        <p>
            Merkez/BURDUR
        </p>
        <i class="fa-solid fa-envelope"></i>
        <p>
            enes_bykbss@hotmail.com
        </p>
    </div>
</div>
